.controls-component-content {
    display: flex;
    flex-direction: column;
}

.controls-component-content .tool-group {
    display: flex;
    flex-direction: column;
}

.controls-component-content .tool-group h5 {
    margin: 0;
    font-size: 1em;
    color: #f0c674;
    border-bottom: 1px solid #444;
}

.controls-component-content .slider-component-container {
    padding: 0 4px;
} 